* {
    font-family: Arial, Helvetica, sans-serif;
    color: #D1D1D1;
    cursor: default;
}

html {
    background-color: #18181A;
}

h1 {
    cursor:pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

span {
    font-weight: bold;
}

button {
    cursor:pointer;
}

.body-style {
    font-weight: lighter;
}

.container {
    width: 100%;
}

.inbox {
    border-radius: 3%;
    margin-top: 15px;
    background-color: #2a2a2d;
}

.each-email {
    display: flex;
}

.search {
    width: 99%;
    height: 45px;
    border-radius: 25px;
    text-align: right;
    font-size: 2rem;
}

#compose-btn {
    background-color: transparent;
    position: absolute;
    top: 35px;
    right: 45px;
    font-size: 1.7rem;
    text-align: right;
    border-radius: 25px;
}

.hide-compose-email {
    display: none;
}

.show-compose-email {
    display: block;
    height: 100%;
}

.form-container {
    border: 1px solid #d1d1d125;
    margin-top: 20px;
    border-radius: 25px;
    padding-top: 25px;
    background-color: #29292c;
    color: #D1D1D1;
}

.form-header {
    margin-left: 5px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.close-icon {
    cursor: pointer;
    color: white;
}

.form-input {
    border-radius: 25px;
    font-size: 1rem;
    padding: 15px;
    background-color: #18181A;
    margin-bottom: 15px;
}

textarea {
    border-radius: 25px;
    font-size: 1rem;
    color: #D1D1D1;
    min-height: 200px;
    height: 50vh;
    width: 95%;
    padding: 15px;
    background-color: #18181A;
}

.compose-body {
    width: 90%;
    margin: 0 auto;
}

.send-btn {
    position: relative;
    font-size: 1.4em;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #fcb419;
    font-weight: bold;
    padding: 10px;
    font-size: .8rem;
}

.tabs {
    margin-top: 20px;
    display: flex;
    width: 80%;
    padding-left: 20px;
}

.tab {
    width: 20%;
    margin-bottom: 0px;
    border: 1px solid #3E3E41;
    border-radius: 9px 9px 0 0;
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

.tab:hover, .selected {
    background-color: #3E3E41;
}

table {
    border: 1px solid #d1d1d125;
    border-radius: 25px;
    width: 98%;
    padding: 20px 21px;
    table-layout: fixed;
    width: 100%;
    background-color: #252529;
}

tr {
    width: 100%;
    margin: 5px;
    margin-bottom: 7px;
    padding: 10px;
    box-shadow: none;
    border-bottom: 1px solid transparent;
}

tr:hover {
    cursor: pointer;
}

tr:nth-child(9n + 1):hover, tr:nth-child(9n + 1).expand-email { border-bottom: 1px solid #fcb419; background-color: #fcb41908; }
tr:nth-child(9n + 2):hover, tr:nth-child(9n + 2).expand-email { border-bottom: 1px solid #f78c1f; background-color: #f78c1f08; }
tr:nth-child(9n + 3):hover, tr:nth-child(9n + 3).expand-email { border-bottom: 1px solid #f2545b; background-color: #f2545b08; }
tr:nth-child(9n + 4):hover, tr:nth-child(9n + 4).expand-email { border-bottom: 1px solid #e13f94; background-color: #e13f9408; }
tr:nth-child(9n + 5):hover, tr:nth-child(9n + 5).expand-email { border-bottom: 1px solid #9c27b0; background-color: #9c27b008; }
tr:nth-child(9n + 6):hover, tr:nth-child(9n + 6).expand-email { border-bottom: 1px solid #3f51b5; background-color: #3f51b508; }
tr:nth-child(9n + 7):hover, tr:nth-child(9n + 7).expand-email { border-bottom: 1px solid #2196f3; background-color: #2196f308; }
tr:nth-child(9n + 8):hover, tr:nth-child(9n + 8).expand-email { border-bottom: 1px solid #00bcd4; background-color: #00bcd408; }
tr:nth-child(9n + 0):hover, tr:nth-child(9n + 0).expand-email { border-bottom: 1px solid #4caf50; background-color: #4caf5008; }

tr {
    transition: border-bottom .5s ease-in-out;
  }

tr:hover, tr.expand-email {
    transition: none;
}
  
td {
    overflow: hidden;
    text-overflow: ellipsis;
}

td:nth-child(2) {
    width:80%;
}

td:nth-child(3) {
    text-align: left;
}

footer {
    text-align: center;
}

.decryption-form {
    margin-top: 0px;
}

.passphrase-input {
    border-radius: 15px;
    margin-top: 15px;
    background-color: #252529;
    height: 25px;
    padding: 7px;
    width: 100px;
}

.sender, .to {
    width: 27%;
    font-weight: bold;
    flex-shrink: 0;
    padding-left: 20px;
    margin-right: 20px;
}

.to {
    margin-right: 15px;
}

.to-label {
    font-weight: lighter;
}

.subject {
    font-weight: bold;
    cursor: pointer;
}

.subject-message {
    font-weight: lighter;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 10px;
}

.subject-message:hover {
    cursor: default;
}

.date {
    flex-shrink: 0;
    padding-left: 10px;
}

.delete-icon {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    margin-left: 17px;
    cursor: pointer;
    height: 5px;
}

tr:hover .delete-icon {
    opacity: 1;
    visibility: visible;
}

#from {
    background-color: transparent;
}

#message {
    margin-left: 2vw;
    background-color: transparent;

}

#line {
    border: 1px solid;
}

.collapse {
    width: 95%;
    white-space: nowrap;
}

.expand-email {
    white-space: pre-line;
}

.footer a, p {
    color: #414141;
}