* {
    font-family: Arial, Helvetica, sans-serif;
    color: #D1D1D1;
}

html {
    background-color: #18181A;
}

a {
    text-decoration: none;
}

span {
    font-weight: bold;
}

.body-style {
    font-weight: lighter;
}

.container {
    width: 95vw;
    padding: 10px;

}

.inbox {
    
    border: 1px solid #D1D1D1;
    border-radius: 3%;
    margin-top: 15px;
    background-color: #2a2a2d;
}

.each-email {
    display: flex;
}


.search {
    width: 100%;
    height: 45px;
    border-radius: 25px;
    text-align: right;
    font-size: 2rem;
}

.compose-btn {
    background-color: transparent;
    position: absolute;
    top: 35px;
    right: 45px;
    font-size: 1.7rem;
    text-align: right;
    border-radius: 25px;
}

table {
    border: 1px solid;
    border-radius: 25px;
    width: 100%;
    padding: 20px 21px;
    margin-top: 20px;
    table-layout: fixed;
    width: 100%;
    background-color: #252529;
}

tr {
    border-bottom: 1px solid #d1d1d13b;
    width: 100%;
    margin: 5px;
    margin-bottom: 7px;
    padding: 10px;
    box-shadow: none;
}

tr:hover {
    border-bottom: 1px solid #fcb419;

    cursor: pointer;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sender {
    width: 100px;
    font-weight: bold;
    flex-shrink: 0;
}

.subject {
    font-weight: bold;
}

.subject-message {
    font-weight: lighter;
    text-overflow: ellipsis;
    overflow:hidden;
}


#from {
    background-color: transparent;
}

#message {
    margin-left: 2vw;
    background-color: transparent;

}

#line {
    border-bottom: 1px solid;
    border: 1px solid;
}

.collapse {
    white-space: nowrap;
}

.expand-email {
    white-space: wrap;
}
